body {
	background-color: #f1f1f1;
}
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.story-card {
	
	min-width: 238px;
	min-height: 218px;
	background-color: blue;
}

.news-article-page {
	max-width: 92%;
}




